.card {
    width: 100%;
}

.card:hover {
    background-color: var(--black-9);
}

.card > .link {
    display: block;
    padding: 16px 8px;
}

.card > .link > .card-header {
    margin-bottom: 8px;
}

.card > .link > .card-header > .header-created-at {
    color: var(--green-1);
    font-size: 12px;
    font-weight: 200;
}

.card > .link > .card-header > .header-created-user-name {
    font-size: 12px;
}

.card > .link > .card-body {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card > .link > .card-body > .body-title {
    color: var(--black-2);
    flex: 1;
    font-weight: bold;
    word-break: break-word;
}

.card > .link > .card-body > .body-count {
    color: var(--black-2);
    font-size: 14px;
    text-align: right;
    width: 50px;
}

.card > .link > .card-body > .body-count > .MuiSvgIcon-root {
    color: var(--black-2);
    font-size: 18px;
    margin-right: 2px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
