.comment-form {
    width: 100%;
}

.comment-form > .comment-textarea {
    background-color: var(--white-1);
    border: solid 1px var(--black-5);
    font-size: 16px;
    height: 150px;
    margin-bottom: 12px;
    padding: 6px;
    width: 100%;
}

.comment-form > .comment-textarea:focus {
    outline: none;
}

.comment-form > .button {
    letter-spacing: 4px;
    width: 100%;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
