.comment-item {
    background-color: var(--black-9);
    box-shadow: 0px 0px 4px var(--black-5);
    margin-bottom: 16px; /* 本当はコメントリストページで指定したい */
    padding: 8px;
}

.comment-item > .comment-header {
    color: var(--green-1);
    font-size: 12px;
    margin-bottom: 4px;
}

.comment-item > .comment-body {
    color: var(--black-2);
    font-size: 16px;
    margin-bottom: 4px;
    word-break: break-word;
}

.comment-item > .comment-footer {
    text-align: right;
}

.comment-item > .comment-footer > .link {
    color: var(--black-2);
    font-size: 12px;
    padding-bottom: 1px;
}

.comment-item > .comment-footer > .link:hover {
    border-bottom: 1px solid var(--black-2);
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
