.comment-list-title {
    background-color: var(--black-7);
    border-left: 8px solid var(--black-2);
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    word-break: break-word;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
