.create-board {
    min-height: var(--page-min-height);
    padding: 20px 16px;
    width: 100%;
}

.create-board > .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.create-board > .wrapper > .title-content {
    margin-bottom: 16px;
}

.create-board > .wrapper > .back-link-content {
    margin-bottom: 16px;
}

.create-board > .wrapper > .rule-content {
    margin-bottom: 16px;
}

.create-board > .wrapper > .parent-name-content {
    margin-bottom: 16px;
}

/* form */
.create-board > .wrapper > .form-content > .name-content {
    margin-bottom: 8px;
}

.create-board > .wrapper > .form-content > .name-content > .form-item-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.create-board > .wrapper > .form-content > .name-content > .input-content {
    margin-bottom: 4px;
}

.create-board > .wrapper > .form-content > .button-content {
    text-align: right;
}


@media(max-width: 480px) {
}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
