.top-header {
    background-color: white;
    border-bottom: 1px solid var(--black-6);
    position: sticky;
    top: 0px;
    width: 100%;
}

.top-header > .wrapper {
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.top-header > .wrapper > .items {
    display: flex;
    height: 100%;
}

.top-header > .wrapper > .items > .item {
    flex: 1;
}

.top-header > .wrapper > .items > .item > .link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    line-height: 100%;
}

@media(max-width: 480px) {
    .top-header {
        height: 50px;
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    .top-header {
        height: 60px;
    }
}

@media(min-width: 1001px) {
    .top-header {
        height: 60px;
    }
}
