body {
    font-family: "Hannotate SC", sans-serif;
    font-size: 16px;
    overflow: scroll;
    
    --error-color: #F06060;
    --blue: #007FFF;

    --black-1: #000000;
    --black-2: #303133; /* base text & input text */
    --black-3: #606266;
    --black-4: #909399;
    --black-5: #C0C4CC; /* placeholder text */
    --black-6: #DCDFE6; /* Base Border */
    --black-7: #E4E7ED; /* Light Border */
    --black-8: #EBEEF5; /* Lighter Border & hover */
    --black-9: #F2F6FC; /* Extra Light Border & input backgroud & hover */

    --white-1: #FFFFFF;

    --green-1: #44A514;
    --green-2: #67C23A;
    --green-3: #7ec959;
    --green-4: #94df6f;
    --green-5: #a6e487;
    --green-6: #d6f5c6;
    --green-7: #def3d3;
    --green-8: #F0F9EB;

    --blue-1: #007FFE;
    --blue-2: #409EFF;
    --blue-3: #53A8FF;
    --blue-4: #79BBFF;
    --blue-5: #8CC5FF;
    --blue-6: #B3D8FF;
    --blue-7: #C6E2FF;
    --blue-8: #ECF5FF;

    --orange-a: #E6A23C;
    --orange-b: #FAECD8;
    --orange-c: #FDF6EC;

    --red-1: #d35c5c;
    --red-2: #F56C6C;
    --red-3: #F07F7F;
    --red-4: #F29898;
    --red-5: #EEAFAF;
    --red-6: #fbc4c4;
    --red-7: #f2cccc;
    --red-8: #fef0f0;
}

@media(max-width: 480px) {
    body {
        --page-min-height: calc(100vh - 50px);
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}

@media(min-width: 1001px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}


@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
