.page-title {
    align-items: center;
    background-color: var(--black-7);
    border-left: 8px solid var(--black-2);
    display: flex;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
}

.page-title > .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 4px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
