.profile {
    min-height: var(--page-min-height);
    padding: 20px 16px;
    width: 100%;
}

.profile > .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.profile > .wrapper > .button-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.profile > .wrapper > .user-icon-content {
    margin-bottom: 12px;
}

.profile > .wrapper > .user-icon-content > .user-icon {
    background-color: gray;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.profile > .wrapper > .user-main-content > .user-name {
    color: var(--black-2);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.profile > .wrapper > .user-main-content > .user-id {
    color: var(--black-3);
    font-size: 14px;
    margin-bottom: 12px;
}

.profile > .wrapper > .user-main-content > .introduction {
    font-size: 16px;
    margin-bottom: 12px;
}

.profile > .wrapper > .user-main-content > .registration-date {
    align-items: center;
    color: var(--black-3);
    font-size: 14px;
    display: flex;
}

.profile > .wrapper > .user-main-content > .registration-date > .MuiSvgIcon-root {
    font-size: 16px;
    margin-right: 4px;
}



@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
