.board-list {
    background-color: var(--base-color);
    min-height: var(--page-min-height);
    padding: 20px 16px;
    width: 100%;
}

.board-list > .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.board-list > .wrapper > .board-list-title {
    margin-bottom: 16px;
}

.board-list > .wrapper > .breadcrumb-navigation-container {
    margin-bottom: 4px;
}

.board-list > .wrapper > .create-link-content {
    margin-bottom: 16px;
}

.board-list > .wrapper > .search-content {
    margin-bottom: 24px;
}

.board-list > .wrapper > .board-list-body > .card {
    margin-bottom: 16px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
