.breadcrumb-navigation {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.breadcrumb-navigation > .list-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.breadcrumb-navigation > .list-item-icon > .MuiSvgIcon-root {
    font-size: 18px;
}

@media(max-width: 480px) {
    .breadcrumb-navigation > .list-item-text {
        max-width: 80px;
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    .breadcrumb-navigation > .list-item-text {
        max-width: 100px;
    }
}

@media(min-width: 1001px) {
    .breadcrumb-navigation > .list-item-text {
        max-width: 200px;
    }
}
