.card {
    padding: 14px 8px;
    width: 100%;
}

.card:hover {
    background-color: #eee;
}

.card-header {
    margin-bottom: 8px;
}

.card-header > .header-created-at {
    color: var(--green-a);
    font-size: 12px;
    font-weight: 200;
}

.card-header > .header-created-user-name {
    font-size: 12px;
}

.card-body {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card-body > .body-title {
    flex: 1;
    font-size: 14px;
    font-weight: bold;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}

.card-body > .body-count {
    font-size: 14px;
    text-align: right;
    width: 50px;
}

.card-body > .body-count > .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 2px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
