.category-list {
    background-color: var(--base-color);
    min-height: 100vh;
}

@media(max-width: 480px) {
    .category-list {
        padding: 20px 16px;
        width: 100%;
    }

    .category-list > .title-content {
        margin-bottom: 16px;
    }

    .category-list > .create-link-content {
        margin-bottom: 16px;
    }

    .category-list > .body-content > .card {
        margin-bottom: 16px;
    }
}
