.comment-list-title {
    border-left: 4px solid var(--main-color);
    border-bottom: 2px dotted var(--main-color);
    font-size: 14px;
    font-weight: 600;
    padding: 6px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
