.comment-form {
    width: 100%;
}

.comment-form > .comment-textarea {
    background-color: #FFF;
    border: solid 1px black;
    font-size: 16px;
    height: 150px;
    padding: 6px;
    width: 100%;
}

.comment-form > .comment-textarea:focus {
    outline: none;
}

.comment-form > .button {
    background-color: var(--accent-color);
    color: #fff;
    letter-spacing: 10px;
    padding: 6px 0;
    text-align: center;
    width: 100%;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
