@media(max-width: 480px) {
    .comment {
        border: 1px solid var(--accent-color);
        padding: 6px;
    }

    .comment > .comment-header {
        font-size: 12px;
        margin-bottom: 4px;
        text-align: right;
    }

    .comment > .comment-body {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .comment > .comment-footer {
        font-size: 12px;
        text-align: left;
    }

}
