.comment-list {
    background-color: var(--base-color);
    min-height: 100vh;
}

@media(max-width: 480px) {
    .comment-list {
        padding: 20px 16px;
        width: 100%;
    }

    .comment-list > .title-container {
        margin-bottom: 16px;
    }

    .comment-list > .breadcrumb-navigation-container {
        margin-bottom: 16px;
    }

    .comment-list > .explanation-container {
        margin-bottom: 16px;
    }

    .comment-list > .total-comment-container {
        font-size: 14px;
        margin-bottom: 16px;
        text-align: right;
    }

    .comment-list > .comment-container > .comment {
        margin-bottom: 16px;
    }
}
