.comment-list {
    min-height: var(--page-min-height);
    padding: 20px 16px;
    width: 100%;
}

.comment-list > .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.comment-list > .wrapper > .title-container {
    margin-bottom: 16px;
}

.comment-list > .wrapper > .breadcrumb-navigation-container {
    margin-bottom: 16px;
}

.comment-list > .wrapper > .explanation-container {
    margin-bottom: 16px;
}

.comment-list > .wrapper > .total-comment-container {
    color: var(--black-2);
    font-size: 14px;
    margin-bottom: 16px;
    text-align: right;
}

.comment-list > .wrapper > .comment-container {
    margin-bottom: 16px;
}

/* 本当はここでコメントのmarginを指定したいが、本番環境で正常に設定されないのでコメント自体で対応する（expressでは正常に読み込まれている） */
/* .comment-list > .wrapper > .comment-container .comment-item {
    margin-bottom: 16px;
} */

.comment-list > .wrapper > .form-content > {
    margin-bottom: 16px;
}

.comment-list > .wrapper > .form-content > .error-content {
    margin-bottom: 4px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
