.comment-list {
    background-color: var(--base-color);
}

@media(max-width: 480px) {
    .comment-list {
        min-height: var(--page-min-height);
        padding: 20px 16px;
        width: 100%;
    }

    .comment-list > .title-container {
        margin-bottom: 16px;
    }

    .comment-list > .breadcrumb-navigation-container {
        margin-bottom: 16px;
    }

    .comment-list > .explanation-container {
        margin-bottom: 16px;
    }

    .comment-list > .total-comment-container {
        font-size: 14px;
        margin-bottom: 16px;
        text-align: right;
    }

    .comment-list > .comment-container {
        margin-bottom: 16px;
    }

    .comment-list > .comment-container > .comment {
        margin-bottom: 16px;
    }

    .comment-list > .form-content > {
        margin-bottom: 16px;
    }

    .comment-list > .form-content > .error-content {
        margin-bottom: 4px;
    }
}
