@media(max-width: 480px) {
    .comment {
        background-color: var(--sub-color);
        box-shadow: 0px 0px 4px var(--main-color);
        padding: 6px;
    }

    .comment > .comment-header {
        font-size: 12px;
        margin-bottom: 4px;
        text-align: right;
    }

    .comment > .comment-body {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .comment > .comment-footer {
        font-size: 12px;
        text-align: right;
    }

}
