.create-category {
    background-color: var(--base-color);
}

@media(max-width: 480px) {
    .create-category {
        min-height: var(--page-min-height);
        padding: 20px 16px;
        width: 100%;
    }

    .create-category > .title-content {
        margin-bottom: 16px;
    }

    .create-category > .back-link-content {
        margin-bottom: 16px;
    }

    .create-category > .rule-content {
        margin-bottom: 16px;
    }

    /* form */
    .create-category > .form-content > .name-content {
        margin-bottom: 4px;
    }

    .create-category > .form-content > .name-content .form-item-title {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .create-category > .form-content > .name-content > .input-plus-button {
        margin-bottom: 4px;
    }
}
