.create-thread {
    background-color: var(--base-color);
    min-height: 100vh;
}

@media(max-width: 480px) {
    .create-thread {
        padding: 20px 16px;
        width: 100%;
    }

    .create-thread > .title-content {
        margin-bottom: 16px;
    }

    .create-thread > .rule-content {
        margin-bottom: 16px;
    }

    .create-thread > .form-content > .form-item-title {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .create-thread > .form-content > .name-content {
        margin-bottom: 4px;
    }

    .create-thread > .form-content .error-content {
        margin-bottom: 8px;
    }

    .create-thread > .form-content > .explanation-content {
        margin-bottom: 4px;
    }
}
