.explanation {
    border: 1px solid black;
    padding: 6px;
}

.explanation-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.explanation-header > .header-title {
    font-size: 14px;
}

.explanation-header > .header-created-at {
    flex: 1;
    font-size: 12px;
    text-align: right;
}

.explanation-body {
    border-bottom: 1px dashed var(--accent-color);
    border-top: 1px dashed var(--accent-color);
    font-size: 12px;
    margin-bottom: 8px;
    padding: 8px 4px;
}

.explanation-footer {
    font-size: 12px;
    text-align: right;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
