.header {
    background-color: white;
    border-bottom: 1px solid var(--black-6);
    position: sticky;
    top: 0px;
    width: 100%;
}

.header > .header-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.header > .header-wrapper > .header-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.header > .header-wrapper > .header-item-wrapper > .header-item {
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 900;
    justify-content: center;
    width: 100%;
}

@media(max-width: 480px) {
    .header > .header-wrapper > .header-item-wrapper > .header-item {
        height: 49px;
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    .header > .header-wrapper > .header-item-wrapper > .header-item {
        height: 59px;
    }
}

@media(min-width: 1001px) {
    .header > .header-wrapper > .header-item-wrapper > .header-item {
        height: 59px;
    }
}
