.header {
    background-color: var(--base-color);
    position: sticky;
    top: 0px;
    width: 100%;
}

@media(max-width: 480px) {
    .header {
        background-color: var(--accent-color);
    }
    
    .header-item-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .header-item-wrapper > .header-item {
        align-items: center;
        /* color: var(--accent-color); */
        color: white;
        display: flex;
        font-size: 18px;
        font-weight: 900;
        height: 50px;
        justify-content: center;
        width: 100%;
    }
}
