.home {
    min-height: var(--page-min-height);
    padding: 20px 16px;
    width: 100%;
}

.home > .wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

@media(max-width: 480px) {
}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
