body {
    font-family: "Hannotate SC", sans-serif;
    /* --base-color: #F2F2F2;
    --sub-color: #ffd5e5;
    --main-color: #593442;
    --accent-color: #F2A7C3; */
    
    /* グレー系（青） */
    --base-color: #F2F0F0;
    --sub-color: #b9c3cc;
    --main-color: #72808C;
    --accent-color: #394A59;

    /* 黒系 */
    /* --base-color: #eee;
    --sub-color: #ccc;
    --main-color: #666;
    --accent-color: #333; */

    
    --error-color: #F06060;
}

@media(max-width: 480px) {
    body {
        --page-min-height: calc(100vh - 50px);
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}

@media(min-width: 1001px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}


@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
