body {
    font-family: "Hannotate SC", sans-serif;
    /* --base-color: #F2F2F2;
    --main-color: #593442;
    --accent-color: #F2A7C3; */
    
    --base-color: #eee;
    --sub-color: #ccc;
    --main-color: #666;
    --accent-color: #333;
    --error-color: #F06060;
}
