body {
    font-family: "Hannotate SC", sans-serif;
    /* --base-color: #F2F2F2;
    --sub-color: #ffd5e5;
    --main-color: #593442;
    --accent-color: #F2A7C3; */
    
    /* グレー系（青） */
    --base-color: #F2F0F0;
    --sub-color: #b9c3cc;
    --main-color: #72808C;
    --accent-color: #394A59;

    /* 黒系 */
    /* --base-color: #eee;
    --sub-color: #ccc;
    --main-color: #666;
    --accent-color: #333; */

    
    --error-color: #F06060;

    --blue: #007FFF;

    --green-a: #67C23A;
    --green-b: #d6f5c6;
    --green-c: #F0F9EB;

    --blue-a: #409EFF;
    --blue-b: #53A8FF;
    --blue-c: #66B1FF;
    --blue-d: #79BBFF;
    --blue-e: #8CC5FF;
    --blue-f: #A0CFFF;
    --blue-g: #B3D8FF;
    --blue-h: #C6E2FF;
    --blue-i: #ECF5FF;

    --orange-a: #E6A23C;
    --orange-b: #FAECD8;
    --orange-c: #FDF6EC;

    --red-a: #F56C6C;
    --red-b: #FDE2E2;
    --red-c: #FEF0F0;
}

@media(max-width: 480px) {
    body {
        --page-min-height: calc(100vh - 50px);
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}

@media(min-width: 1001px) {
    body {
        --page-min-height: calc(100vh - 60px);
    }
}


@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
