.login {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.login > .form {
    border: 1px solid black;
    max-width: 800px;
    padding: 32px 16px;
    width: 90%;
}

.login > .form > .app-name {
    margin-bottom: 32px;
    text-align: center;
}

.login > .form > .input-item-content {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 8px;
}

.login > .form > .input-item-content:first-of-type {
    margin-bottom: 16px;
}

.login > .form > .password-content {
    margin-bottom: 8px;
}

.login > .form > .input-item-content .input:focus {
    outline: none;
}

.login > .form > .user-content > .input {
    background-color: var(--base-color);
    font-size: 16px;
    width: 100%;
}

.login > .form > .password-content > .input-password-content {
    display: flex;
}

.login > .form > .password-content > .input-password-content > .input-password {
    background-color: var(--base-color);
    flex: 1;
    font-size: 16px;
}

.login > .form > .password-content > .input-password-content > .MuiSvgIcon-root {
    font-size: 16px;
    margin-left: 4px;
}

.login > .form > .auto-login-content {
    margin-bottom: 16px;
    text-align: right;
}

.login > .form > .auto-login-content > .checkbox {
    margin-right: 4px;
}

.login > .form > .auto-login-content > .label {
    font-size: 12px;
}




.login > .form > .login-button-content {
    margin-bottom: 16px;
}

.login > .form > .login-button-content > .button {
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    width: 100%;
}

.login > .form > .login-button-content > .enable {
    background-color: var(--main-color);
}

.login > .form > .login-button-content > .disable {
    background-color: var(--base-color);
}

.login > .form > .error-content {
    margin-bottom: 16px;
}

.login > .form > .or-content {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-bottom: 16px;
}

.login > .form > .or-content:before,
.login > .form > .or-content:after {
    background-color: black;
    content: "";
    flex-grow: 1;
    height: 1px;
}

.login > .form > .or-content:before {
    margin-right: 14px;
}

.login > .form > .or-content:after {
    margin-left: 14px;
}

.login > .form > .create-link-content {
    text-align: center;
}

@media(max-width: 480px) {
    .login > .form > .app-name {
        font-size: 16px;
    }
    
    .login > .form > .input-item-content .title {
        font-size: 10px;
    }

    .login > .form > .password-content > .password-display-content .label {
        font-size: 12px;
    }

    .login > .form > .create-link-content {
        font-size: 12px;
    }
}

@media(min-width: 481px) and (max-width: 1000px) {
    .login > .form > .app-name {
        font-size: 18px;
    }

    .login > .form > .input-item-content .title {
        font-size: 12px;
    }

    .login > .form > .password-content > .password-display-content .label {
        font-size: 14px;
    }

    .login > .form > .create-link-content {
        font-size: 14px;
    }
}

@media(min-width: 1001px) {
    .login > .form > .app-name {
        font-size: 20px;
    }

    .login > .form > .input-item-content .title {
        font-size: 12px;
    }

    .login > .form > .password-content > .password-display-content .label {
        font-size: 14px;
    }

    .login > .form > .create-link-content {
        font-size: 14px;
    }
}
