.page-title {
    align-items: center;
    border-left: 4px solid var(--main-color);
    border-bottom: 2px dotted var(--main-color);
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
}

.page-title > .MuiSvgIcon-root {
    font-size: 18px;
    margin-right: 4px;
}

@media(max-width: 480px) {

}

@media(min-width: 481px) and (max-width: 1000px) {
    
}

@media(min-width: 1001px) {
    
}
