@media(max-width: 480px) {
    .temporary-registration-completed {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .temporary-registration-completed > .main {
        width: 90%;
    }

    .temporary-registration-completed > .main > .app-name {
        font-size: 16px;
        margin-bottom: 32px;
        text-align: center;
    }

    .temporary-registration-completed > .main > .done-message-content > .item {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .temporary-registration-completed > .main > .done-message-content > .not-done {
        border: 1px solid black;
        padding: 12px 8px;
    }
}
