.thread-list {
    background-color: var(--base-color);
}

@media(max-width: 480px) {
    .thread-list {
        min-height: var(--page-min-height);
        padding: 20px 16px;
        width: 100%;
    }

    .thread-list > .thread-list-title {
        margin-bottom: 16px;
    }

    .thread-list > .breadcrumb-navigation-container {
        margin-bottom: 4px;
    }

    .thread-list > .create-link-content {
        margin-bottom: 16px;
    }

    .thread-list > .thread-list-body > .card {
        margin-bottom: 16px;
    }
}
